.nav_home {
    background-image: url('../../assets/images/banner2.jpg');
    background-size: cover;
    background-position: center bottom;
    height: 80vh;
    position: relative;

    @mixin brandIntroduce($top) {
        position: absolute;
        bottom: 0;
        top: $top;
        transform: translateY(18px);
        color: white;
        opacity: 0;
        width: 100vw;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .brand_intro1 {
        @include brandIntroduce(-10%);
        transition: transform 0.8s ease, opacity 0.8s ease;
        animation: slide-up 1s ease forwards;

    }

    .brand_intro2 {
        @include brandIntroduce(2%);
        transition: transform 1s ease, opacity 0.8s ease;
        animation: slide-up 0.8s ease 0.5s forwards;

    }

    .nav_home-button {
        @include brandIntroduce(20%);
        transition: transform 1s ease, opacity 0.8s ease;
        animation: slide-up 0.8s ease 1s forwards;

        .text {
            font-weight: 600;
            will-change: opacity;
        }

        .container {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;
        }

        .contact_me {
            width: 150px;
            color: #fff;
            background-color: blue;
            border-radius: 20px;
            border: 2px solid #fff;
            height: 40px;
            font-weight: 500;

            &:hover {
                background-color: #ff652f;
                transition: all 0.5s ease-in-out;
            }
        }

    }

    @keyframes slide-up {
        from {
            transform: translateY(18px);
            opacity: 0;
        }

        to {
            transform: translateY(-50px);
            opacity: 1;
        }
    }
}