.headerContainer {
  color: white;
}
.header {
  color: blue;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header.visible {
  top: 0;
  transition: top 0.5s linear; /* Hiệu ứng tuyến tính khi header xuất hiện */
}

.header.hidden {
  top: -200px;
  transition: top 2s ease-in-out; /* Hiệu ứng giãn nở khi header biến mất */
}